<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a Twitter Clone built with Ruby on Rails by Jeremy Kwa. It supports user and micropost relations along with photo features and robust login credentials.
</p>